[UserLogModule]

 enabled = true

 ;;
 ;; current only web, mysql and sqlite storage implemented
 ;;

 DataBase = web
 ConnectionString = "http://localhost/log/agentlog.php"

 ;DataBase = mysql
 ;ConnectionString = "Data Source=localhost;Database=userlog;User ID=opensim;Password=***;"

 ;DataBase = mssql
 ;ConnectionString = "Server=localhost\SQLEXPRESS;Database=userlog;User Id=opensim; password=***;"

 ;DataBase = sqlite
 ;ConnectionString = "URI=file:UserLog.db,version=3,UseUTF16Encoding=True"