[UserLogModule]

 enabled = true

 ;;
 ;; currently only web-storage implemented
 ;;
 DataBase = web
 ConnectionString = "http://localhost/log/agentlog.php"

 ;DataBase = mysql
 ;ConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=***;"

 ;DataBase = sqlite
 ;ConnectionString = "URI=file:UserLog.db,version=3,UseUTF16Encoding=True"